<div class="d-flex justify-content-between align-items-center pb-2 mb-5 border-bottom navbar-border">
  <h1 class="text-light">My List</h1>
  <div>
    <%= link_to "Create a List", new_list_path, class: "btn-normal" %>
  </div>
</div>

<% @lists.each do |list| %>
  <div class="d-flex align-items-center my-4">
    <i class="fa-solid fa-list text-secondary mx-3"></i>
    <div><%= link_to list.name, list_path(list), class: "text-light" %></div>
  </div>
<% end %>

<div>
  <h4 class="text-light pb-2 border-bottom navbar-border">Top Ranked</h4>
  <div class="d-flex">
  <% @top_5.each do |movie| %>
    <div class="card-body flex-grow-1 m-1" style="height: 400px;">
      <%= image_tag movie.poster_url, class: "w-100 h-100", style: "object-fit: cover;" %>
      <div class="d-flex align-items-center p-2" style="background-color: #242124">
        <p class="text-center text-light m-0 ps-1" style="font-size: 14px;"><%= movie.title %> -<%= movie.rating %></p>
        <i class="fa-solid fa-star ps-1" style="color: #FFD43B;"></i>
      </div>
    </div>
  <% end %>
  </div>
</div>