<div class="d-flex justify-content-between align-items-center pb-2 mb-5 border-bottom navbar-border">
  <h1 class="text-light"><%= @list.name %></h1>
  <div><%= link_to "Create a Bookmark", new_list_bookmark_path(@list), class: "btn-normal" %></div>
</div>

<div class="d-flex">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card m-3 border border-primary" style="width: 18rem; background-color:#191919;">
      <div class="card-body">
        <%= image_tag bookmark.movie.poster_url, class: "card-img-top m-1" %>
        <h5 class="card-title border-bottom border-primary"><%= bookmark.movie.title %></h5>
        <div class="d-flex justify-content-between align-items-center">
          <p class="mb-0"><%= bookmark.comment %></p>
          <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete } do %>
            <i class="fa-solid fa-trash m-2" style="color: #f7f7f7;"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="align-items-center">
  <i class="fa-solid fa-angles-left text-secondary mx-1"></i>
  <%= link_to "Return", lists_path, class: "btn-normal" %>
</div>