<div class="d-flex justify-content-between align-items-center pb-2 mb-5 border-bottom navbar-border">
  <h1 class="text-light"><%= @list.name %></h1>
</div>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment, label: "Comment", input_html: { class: "form-control text-light bg-dark" } %>
  <%= f.input :movie_id, collection: @movies.map{ |movie| [movie.title, movie.id] }, input_html: { class: "form-control text-light bg-dark" }  %>
  <%= f.submit "Submit", class: "btn-normal" %>
<% end %>

<div class="align-items-center my-3">
  <i class="fa-solid fa-angles-left text-secondary mx-1"></i>
  <%= link_to "Return", lists_path, class: "btn-normal" %>
</div>

